# **Análise e Visualização da Geração Distribuída Fotovoltaica no Brasil**

Análise e Visualização da relação de empreendimentos de Geração Distribuída Fotovoltaica

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

### Carregando a base de dados

In [8]:
df = pd.read_csv("empreendimento-gd-informacoes-tecnicas-fotovoltaica.csv")

In [9]:
df.head()

,_id,DatGeracaoConjuntoDados,CodGeracaoDistribuida,MdaAreaArranjo,MdaPotenciaInstalada,NomFabricanteModulo,NomFabricanteInversor,DatConexao,MdaPotenciaModulos,MdaPotenciaInversores,QtdModulos,NomModeloModulo,NomModeloInversor
0,1,2024-01-30T00:00:00,GD.MG.000.010.856,"18,00","2,34",risen,b&b,2017-05-30T00:00:00,"2,34","2,34",9,,
1,2,2024-01-30T00:00:00,GD.RS.000.010.924,"23,28","3,00",Canadian Solar,Fronius,2017-05-11T00:00:00,"3,20","3,00",10,CS6X-320P,Primo 3.0-1
2,3,2024-01-30T00:00:00,GD.SP.000.010.974,"24,00","3,00",CSUN,AP SYSTEMS,2017-05-19T00:00:00,"3,72","3,00",12,CSUN -72P 310 KW,YC500
3,4,2024-01-30T00:00:00,GD.RS.000.010.988,"21,56","3,63",SunEdison,Fronius,2017-05-24T00:00:00,"3,63","4,00",11,SE-F330BMC34,Primo 4.0-1
4,5,2024-01-30T00:00:00,GD.SP.000.011.006,"14,40","2,38",Canadian,Fronius,2017-05-18T00:00:00,"2,38","2,50",9,CS6P 265 Wp,Galvo 2.5

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346000 entries, 0 to 345999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   _id                      346000 non-null  int64
 1   DatGeracaoConjuntoDados  346000 non-null  object
 2   CodGeracaoDistribuida    346000 non-null  object
 3   MdaAreaArranjo           346000 non-null  object
 4   MdaPotenciaInstalada     346000 non-null  object
 5   NomFabricanteModulo      345998 non-null  object
 6   NomFabricanteInversor    346000 non-null  object
 7   DatConexao               346000 non-null  object
 8   MdaPotenciaModulos       346000 non-null  object
 9   MdaPotenciaInversores    346000 non-null  object
 10  QtdModulos               346000 non-null  int64
 11  NomModeloModulo          345998 non-null  object
 12  NomModeloInversor        345970 non-null  object
dtypes: int64(2), object(11)
memory usage: 34.3+ MB